


footer.rodape{
    display: flex;
    grid-area: rodape;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 16, 3, 0.453);
    color: white;
    font-size: 1.2rem;
    position: fixed; /* ou position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
} 

body {
    background-color: #eaeaea;
    background-image: url('path/to/paper-texture.jpg');
    background-repeat: repeat;
    font-family: 'Times New Roman', serif;
    
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 10px;
    margin-bottom: 150px;
  }
  
 h1{
    text-align: center;
    font-family: 'Sigmar', cursive;
    
 }

 ul{
  list-style: none;
 }
  
  